body {
	font-size: 1.7em;
	line-height: 1.65em;
	color: #24292e;
  font-family: 'Roboto', sans-serif;
}

header {
  .logo {
    img {
      height: 50px;
    }
  }
}

table {
  margin-bottom: 40px;

  td {
    border-top: 1px solid #ddd;
  }
}

.wrapper {
 max-width: 90%;
}

.tutorial .sidebar {
  top: 25px !important;
}

.related {
  padding: 32px 24px 24px 24px;
  border-top: 1px solid #eee;
}

code {
  background: #e6e6e6;
  color: #555;
}

.highlight, .highlight code {
  background: $header-color;
  color: #fafafa;
}
.highlight code {
  padding: 0;
}

section.notification {
  background: #fb4f4f;
  padding: 8px 16px;
  text-align: center;
  color: #f6f6f6;
}